/* RESET */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, button,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
select, option, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
*::after, *::before {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: "NanumSquare";
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a, button,
select, option {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  vertical-align: middle;
}

img {
  width: 100%;
}

.font-extra-16 {
  font-size: 16px;
  font-weight: 800;
}
.font-bold-20 {
  font-size: 20px;
  font-weight: 700;
}
.font-bold-18 {
  font-size: 18px;
  font-weight: 700;
}
.font-bold-16 {
  font-size: 16px;
  font-weight: 700;
}
.font-regular-16 {
  font-size: 16px;
  font-weight: 400;
}

.button {
  height: 56px;
  padding: 17px 20px;
  border-radius: 24px;
  border: 2px solid #0f172a;
  -webkit-box-shadow: 4px 4px 0 #0f172a;
          box-shadow: 4px 4px 0 #0f172a;
}

.button-icon {
  width: 16px;
}

.chip {
  width: 100px;
  height: 36px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
}

.input {
  padding: 17px 24px;
  border-radius: 24px;
  border-radius: 24px;
  border: 2px solid #0f172a;
  -webkit-box-shadow: 4px 4px 0 #0f172a;
          box-shadow: 4px 4px 0 #0f172a;
}

.todo-item {
  gap: 16px;
  padding: 9px 12px;
  border: 2px solid #0f172a;
  border-radius: 30px;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.todo-item:hover {
  border-color: #7c3aed;
}

.todo-item.done {
  background: #ede9fe;
  color: #7c3aed;
}

.todo-checkbox {
  display: none;
}

.todo-checkbox + .todo-label {
  background-image: url("/image/checkCircle.svg");
}

.todo-checkbox:checked + .todo-label {
  background-image: url("/image/checkedCircle.svg");
}

.todo-label {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.todo-name {
  display: block;
  width: 100%;
  color: #1e293b;
}

.upload {
  width: 380px;
  height: 310px;
  border: 6px dashed #cbd5e1;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.upload-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: #f1f5f9;
}

.upload-placeholder-icon {
  width: 50px;
  opacity: 0.4;
}

.upload-plus-icon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  background: #e2e8f0 url("/image/icon/plus.svg") no-repeat center center;
  background-size: 50%;
}

.upload-preview {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.memo {
  width: 100%;
  max-width: 700px;
  position: relative;
}

.memo-label {
  color: #92400e;
  position: absolute;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.memo-textarea {
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 30px 16px 16px;
  border-radius: 10px;
  background: url("/image/memo.png") repeat;
  font-size: 16px;
  line-height: 1.8;
  outline: none;
  resize: none;
}

body {
  background: #f1f5f9;
}

.character {
  width: 45%;
  max-width: 240px;
}