@use "../colors" as *;

.todo {
  &-item {
    gap: 16px;
    padding: 9px 12px;
    border: 2px solid $slate-900;
    border-radius: 30px;
    transition: border 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: $violet-600;
    }

    &.done {
      background: $violet-100;
      color: $violet-600;
    }
  }

  &-checkbox {
    display: none;

    & + .todo-label {
      background-image: url("/image/checkCircle.svg");
    }

    &:checked + .todo-label {
      background-image: url("/image/checkedCircle.svg");
    }
  }

  &-label {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
